p {
    font-style: italic;
    text-decoration: underline;
    background-color: green;
}

div .sqare{
    background-color: green;
    padding: 150px;
    width: 200px;
    border: 2px solid red;
    margin-bottom: 2rem;



}
.flag{
    height: 300px;
    width: 6oopx;
    border: 2px solid;
    background-color: ;
    display: flex;

    
}

 .blue {
    background-color: blue;
    height: 100%;
    width: 33%;
}

.white {
    background-color: white;
    height: 100%;
    width: 34%;}

.red {
    background-color: red;
    height: 100%;
    width: 33%;}




